.hide,
.share_title {
    display: none
}
.spinner > * {
    display: inline-block;
    vertical-align: middle;
}

.error {
    background-color: #FFD6D6;
    padding: 10px;
    color: #CE4040;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.c_ads {
    text-align: center;
}
