
@media (min-width: 360px) {
  #slider.owl-carousel .owl-item .item .scaption h1,
  #slider.owl-carousel .owl-item .item .scaption h2 {
    font-size: 24px;
  }
  #slider.owl-carousel .owl-item .item .scaption h1 {
    font-size: 36px;
  }
}

@media (min-width: 375px) {

}


@media (min-width: 411px) {
  #slider.owl-carousel .owl-item .item .scaption h1,
  #slider.owl-carousel .owl-item .item .scaption h2 {
    font-size: 28px;
  }
  #slider.owl-carousel .owl-item .item .scaption h1 {
    font-size: 36px;
  }
  #about {
    font-size: 17px;
  }
}



@media (min-width: 768px) {
  #header .menu-utama {
    padding: 15px;
  }
  #header .affix-top .logo a.logomakers {
    width: 200px;
    margin-left: 5px;
  }
  #header .topnav .nav>li>a {
    padding: 10px 5px;
  }
  #header .affix-top .topnav { 
  }
  #header .daftar {
    margin-left: 10px;
    padding: 1px 15px;
  }
  #header-m {
    height: 75px;
  }
  #header-m .mheader {
    padding-top: 11px;
  }
  #header-m button.toggle-button {
    padding: 20px 10px 20px 20px;
  }
  #header-m button.toggle-button .icon-bar {
    width: 26px;
    height: 3px;
  }
  #slider.owl-carousel .owl-item .item .scaption {
    /* width: 74%;
    left: 13%; */
    bottom: 20%;
  }
  #slider.owl-carousel .owl-item .item .scaption.scaption-first {
    bottom: calc(47% - 43px);
  }
  #slider.owl-carousel .owl-item .item .scaption.middle {
    bottom: 36%;
  }
  #slider.owl-carousel .owl-item .item .scaption.left {
    left: 5%;
  }
  #slider.owl-carousel .owl-item .item .scaption img {
    width: 100%;
    margin-bottom: 49px;
  }
  #slider.owl-carousel .owl-item .item .scaption h1,
  #slider.owl-carousel .owl-item .item .scaption h2 {
    font-size: 44px;
    letter-spacing: -0.02em;
  }
  #slider.owl-carousel .owl-item .item .scaption h1 {
    font-size: 40px;
  }
  #slider .owl-controls {
    bottom: 20px;
  }
  #makers-events .nav-pills {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #makers-events .nav-pills>li>a {
    font-size: 14px;
    letter-spacing: 0.035em;
    padding: 3px 15px;
  }
  #makers-events .tab-content .ev-list-wrapper .media>.pull-left {
    margin-right: 0;
    float: left !important;
    display: inline-block;
    padding-right: 0;
  }
  #makers-events .tab-content .ev-list-wrapper .media-object {
    width: 280px;
    height: 180px;
    border: 1px solid #ccc;
  }
  #makers-events .tab-content .ev-list-wrapper .media .media-body .shortdesc {
    height: 140px;
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 0;
    border-bottom: 0;
  }
  #makers-events .tab-content .ev-list-wrapper .media .media-body .shortdesc p {
    font-size: 14px;
  }
  #makers-events .tab-content .ev-list-wrapper .media .media-body .shortdesc h4 {
    font-size: 20px;
  }
  #makers-events .tab-content .ev-list-wrapper .media .media-body .b-toolbar {
    height: 40px;
    border: 1px solid #ccc;
    border-left: 0;
    padding: 0 0 0 25px;
    font-size: 14px;
  }
  #makers-events .tab-content .ev-list-wrapper .tags {
    margin-bottom: 0;
    display: inline-block;
    padding: 0;
    border-bottom: 0;
  }
  #makers-events .tab-content .ev-list-wrapper .b-btns {
    float: right;
    margin-bottom: 0;
    display: inline-block;
  }
  #makers-evcalendar .fc-toolbar h2 {
    font-size: 24px;
  }
  .slideout-menu {
    padding-top: 90px;
  }
}

@media (min-width: 810px) {
  
}

@media (min-width: 850px) {
  
}

@media (min-width: 890px) {
  
}

@media (min-width: 915px) {
  
}


@media (min-width: 960px) {
  h1 {
    font-size: 46px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 1em;
  }
  p {
    line-height: 1.6;
  }
  #header .menu-utama {
    padding: 15px 30px;
  }
  #header .affix-top .logo a.logomakers {
    width: 230px;
    margin-left: 20px;
  }
  #header .topnav .nav>li>a {
    padding: 10px 13px 30px;
  }
  #header .affix-top .topnav { 
  }
  #header .daftar {
    margin-left: 30px;
    padding: 1px 20px;
  }
}

@media (min-width: 992px) {
  #slider.owl-carousel .owl-item .item .scaption {
    /* width: 70%;
    left: 15%; */
    bottom: 20%;
  }
  #slider.owl-carousel .owl-item .item .scaption h1,
  #slider.owl-carousel .owl-item .item .scaption h2 {
    font-size: 74px;
    font-family: 'open_sansregular';
    letter-spacing: -0.02em;
  }
  #about {
    text-align: left;
  }
  #about .container {
    padding-bottom: 90px;
  }
  #about .aboutxt {
    padding-top: 0;
    text-align: justify;
  }
  .slideout-panel {
    will-change: initial;
  }
}


@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
  h1, .section-heading {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  .section-h h2 {
    font-size: 34px;
    line-height: 1.4;
  }
  #header .menu-utama {
    padding: 15px 40px 0;
  }
  #header .affix-top .logo a.logomakers {
    width: 230px;
    margin-left: 25px;
  }
  #header .affix-top .topnav { 
  }
  #header .daftar {
    margin-left: 40px;
    padding: 1px 26px;
  }
  #slider.owl-carousel .owl-item .item .scaption {
    /* width: 50%;
    left: 25%; */
    bottom: 20%;
  }
  #faqnav {
    top: 339px;
    margin-left: 165px;
  }
}


@media (min-width: 1280px) {
  
}

@media (min-width: 1336px) {
  
}


@media (min-width: 1440px) {
  #slider .item .slide-info {
    width: 800px;
    height: 450px;
  }
  #slider .item img.im-gadget {
    width: 309px;
  }
  #slider .item img.im-logos {
    width: 360px;
    top: 90px;
    left: 350px;
  }
  #slider .item .slide-txt {
    font-size: 34px;
    top: 240px;
    left: 350px;
  }
}