.btn-brand {
  color: #fff;
  background-color: #25b7bb;
  border-color: #25b7bb;
  color: #ffffff;
}
.btn-brand:hover {
  color: #fff;
  background-color: #2bc7cc;
  border-color: #2bc7cc;
}

.kt-badge.kt-badge--success {
  color: #ffffff;
  background: #25b7bb;
}

.kt-login__logo img {
  width: 81px;
  display: inline-block;
  margin: 0 10px;
}

.kt-login__logo h2 {
  display: inline-block;
}

.kt-aside__brand-logo img {
  width: 23px;
  margin-top: 0px;
  margin-right: 7px;
}

.kt-aside__brand .kt-aside__brand-logo a {
  color: #ffffff;
  opacity: 1;
}

.kt-aside__brand .kt-aside__brand-logo a h3 {
  display: inline-block;
  /* font-family: 'open_sans_condensedbold'; */
  font-size: 1.5rem;
  margin-bottom: 0;
  vertical-align: middle;
}

.kt-aside__brand .kt-aside__brand-logo a h3 span {
  display: block;
  font-size: 1rem;
  margin-top: .1em;
}

.kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo a {
  display: none;
  opacity: 0;
}

.kt-aside--minimizing .kt-aside__brand .kt-aside__brand-logo a {
  display: none;
  opacity: 0;
}

.notif-pulsing {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #ff4f4f;
  border-radius: 50%;
  border: 3px solid white;
  top: 13px;
  left: 22px;
}
.notif-pulsing:before {
  position: absolute;
  top: -10px;
  left: -10px;
  display: block;
  -moz-box-sizing: border-box;
        box-sizing: border-box;
  margin: 0 auto;
  width: 28px;
  height: 28px;
  border: 6px solid #FF0000;
  /*background: #ff0000;*/
  border-radius: 100%;
  content: "";
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: pulseFadeOut;
          animation-name: pulseFadeOut;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: -.75s;
          animation-delay: -.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

@-webkit-keyframes pulseFadeOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulseFadeOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.kt-login.kt-login--v3.jo-login--v1 .kt-login__wrapper .kt-login__container .kt-form .form-control {
  border-radius: 0;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--langs {
  margin-right: 20px;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user .gojek-user-info {
  margin-right: 15px;
  text-align: right;
  font-size: 0.80rem;
  font-weight: 500;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user img.logo {
  display: block;
  width: 60px;
  height: auto;
  margin-bottom: 2px;
}
.kt-user-card__badge .btn-msg {
  background-color: transparent;
  border-color: #8ece43;
  color: #ffffff;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-control.onlyline {
  padding: 0.65rem 0 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

.form-group label {
  font-size: .92rem;
  font-weight: 400;
  color: #777;
}
.kt-portlet.profile-stakeholder h2.
.kt-widget.kt-widget--user-profile-1 .kt-widget__head {
  margin-bottom: 1rem;
}
.btactions {
  margin-bottom: 1rem;
}

.alert.alert-light {
  background: #fff8c4;
  border: 1px solid #fff8c4;
  color: #333;
}

.alert.alert-light .alert-icon i {
  color: #fb8622 !important;
}

.btn.btn-clean {
  border-color: transparent;
  background: transparent;
  color: #999;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-icon {
  font-size: 1.5rem !important;
  text-align: center;
  padding-top: 3px;
  padding-left: 0;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-icon .kt-font-brand {
  color: #fff !important;
}

.dataTables_wrapper .pagination .page-item.active>.page-link {
  background: #25b7bb;
  color: #ffffff;
}

.project-filters {

}

.btactions .btnew,
.btactions .dropdown-act,
.btactions .btcancel {
  float: left;
}
.btactions .dropdown-view {
  float: right;
}

.contpnl.contproj {
  padding-bottom: 7px;
}

.project-filters .daterange {
  float: left;
  margin-bottom: 0;
  width: 230px;
  margin-right: 20px;
}

.project-filters .daterange .input-group-text {
  padding: 0;
  border: 0;
  background-color: white;
  padding-bottom: 3px;
}

.project-filters .daterange .input-group-text i.icon-daterange {
  font-size: 24px;
}

.project-filters .daterange input {
  height: 30px;
  padding: 0 0.5rem;
  border: 0;
  text-align: center;
}

.project-filters .dropdown-owner,
.project-filters .dropdown-filter,
.project-filters .filter-tag {
  float: left;
  margin-right: 15px;
}

.project-filters .filter-tag {
  width: 150px;
}

.project-filters .filter-tag input {
  height: 30px;
  padding: 0 1rem 0 0;
  border: 0;
}

.project-filters .filter-tag span {
  background-color:white;
}

.project-filters .filter-tag span i {
  font-size: 22px;
  color: #777;
}

.project-filters .dropdown-owner button,
.project-filters .dropdown-filter button,
.project-filters .filter-tag span {
  padding: 0 0.65rem;
  height: 30px;
  border: 0;
}

.contpnl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  background-color: #ffffff;
  margin-bottom: 6px;
  border-radius: 4px;
  padding: 20px;
}

.contpnl h2 {
  margin-bottom: 1rem;
}

.img-circle {
  border-radius: 50% !important;
}

.img-circle-small {
  width: 40px;
}

.img-normal {
  border-radius: 0 !important;
}

.txt-small {
  font-size: 0.95rem;
}

.txt-blue {
  color: #1E91D6;
}

.txt-bluelight {
  color: #3298d6;
}

.txt-green {
  color: #3ea040;
}

.grey {
  color: #999;
}
.feedlist .list-group-item {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
.feedlist .list-group-item:before {
  position: absolute;
  content: "";
  border-left: 4px solid #66b0ea;
  left: 0;
  top: 7px;
  height: calc(100% - 14px);
}
.feedlist .list-group-item.green:before {
  border-left: 4px solid #66b769;
}
.feedlist.rightlist .list-group-item:before {
  border-left: 0;
}
.feedlist .avatar {
  margin-right: 10px;
}

.listproj .list-group-item {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding: 1rem 1.25rem 0.55rem;
}

.listproj .list-group-item label {
  font-size: 0.85rem;
  font-weight: 400;
  color: #777;
}

.listproj .list-group-item p {
  font-weight: 400;
  margin-bottom: 0;
}

.listproj .list-group-item h4 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.listproj .list-group-item img.avatar {
  float: left;
  margin-right: 7px;
  margin-bottom: 15px;
}

.listproj .list-group-item h4 a {
  color: #444;
  font-weight: 400;
}
.listproj .list-group-item h4 a:hover {
  color: #3ea040;
}

.drophere {
  padding: 15px;
  border: 1px dashed #ddd;
  margin-bottom: 20px;
  text-align: center;
  color: #666;
  font-size: 16px;
}

/* .box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.is-dragover {
  background-color: grey;
}
.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}
.box__button {
  display: none;
}
.no-js .box__button {
  display: block;
} */


.box
				{
					font-size: 1.1rem; /* 20 */
					/* background-color: #c8dadf; */
					position: relative;
          padding: 15px 20px;
          margin-bottom: 30px;
				}
				.box.has-advanced-upload
				{
					outline: 1px dashed #ccc;
          outline-offset: 0;
          text-align: center;

					-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
					transition: outline-offset .15s ease-in-out, background-color .15s linear;
				}
				.box.is-dragover
				{
					outline-offset: -20px;
					outline-color: #c8dadf;
					background-color: #fff;
        }
          .box i {
            font-size: 28px;
            color: #aaa;
          }
					.box__dragndrop,
					.box__icon
					{
						display: none;
					}
					.box.has-advanced-upload .box__dragndrop
					{
						display: inline;
					}
					.box.has-advanced-upload .box__icon
					{
						width: 100%;
						height: 80px;
						fill: #92b0b3;
						display: block;
						margin-bottom: 40px;
					}

					.box.is-uploading .box__input,
					.box.is-success .box__input,
					.box.is-error .box__input
					{
						visibility: hidden;
					}

					.box__uploading,
					.box__success,
					.box__error
					{
						display: none;
					}
					.box.is-uploading .box__uploading,
					.box.is-success .box__success,
					.box.is-error .box__error
					{
						display: block;
						position: absolute;
						top: 50%;
						right: 0;
						left: 0;

						-webkit-transform: translateY( -50% );
						transform: translateY( -50% );
					}
					.box__uploading
					{
						font-style: italic;
					}
					.box__success
					{
						-webkit-animation: appear-from-inside .25s ease-in-out;
						animation: appear-from-inside .25s ease-in-out;
					}
						@-webkit-keyframes appear-from-inside
						{
							from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
							75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
							to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
						}
						@keyframes appear-from-inside
						{
							from	{ transform: translateY( -50% ) scale( 0 ); }
							75%		{ transform: translateY( -50% ) scale( 1.1 ); }
							to		{ transform: translateY( -50% ) scale( 1 ); }
						}

					.box__restart
					{
						font-weight: 700;
					}
					.box__restart:focus,
					.box__restart:hover
					{
						color: #39bfd3;
					}

					.box__file
					{
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}
					.box__file + label
					{
						max-width: 80%;
						text-overflow: ellipsis;
						white-space: nowrap;
						cursor: pointer;
						display: inline-block;
						overflow: hidden;
					}
					.box__file + label:hover strong,
					.box__file:focus + label strong,
					.box__file.has-focus + label strong
					{
            color: #3ea040;
					}
					.box__file:focus + label,
					.box__file.has-focus + label
					{
						/* outline: 1px dotted #000;
						outline: -webkit-focus-ring-color auto 5px; */
					}
						.box__file + label *
						{
							/* pointer-events: none; */ /* in case of FastClick lib use */
						}

					.no-js .box__file + label
					{
						display: none;
					}

					.no-js .box__button
					{
						display: block;
					}
					.box__button
					{
						font-weight: 700;
						color: #e5edf1;
						background-color: #39bfd3;
						display: none;
						padding: 8px 16px;
						margin: 40px auto 0;
					}
						.box__button:hover,
						.box__button:focus
						{
							background-color: #0f3c4b;
						}

.btn-text {
  background-color: transparent;
  border: 1px solid transparent;
  color: #777777;
}

.btn-heading {
  background-color: transparent;
  border: 1px solid transparent;
  color: #3ea040;
  padding-left: 0;
}

.btn-left {
  text-align: left;
}

.btn.btn-label-yellow {
  background-color: #ffc929;
  color: #444;
  cursor: text !important;
}

/* .clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
} */

.projdetail .nav {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #239826;
}

#projdetail .tab-pane {
  padding-top: 40px;
}

/* .container {
font-family: 'Lato', sans-serif;
width: 1000px;
margin: 0 auto;
} */

.wrapper {
display: table-cell;
height: 400px;
vertical-align: middle;
}

.nav {
margin-top: 40px;
}

/* Breadcrups CSS */

.arrow-steps .step {
font-size: 1rem;
text-align: center;
color: #666;
cursor: default;
margin: 0 3px;
padding: 5px 10px 5px 30px;
min-width: 180px;
float: left;
position: relative;
background-color: #e7e7e7;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; 
transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
content: " ";
position: absolute;
top: 0;
right: -17px;
width: 0;
height: 0;
border-top: 14px solid transparent;
border-bottom: 15px solid transparent;
border-left: 17px solid #e7e7e7;	
z-index: 2;
transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
right: auto;
left: 0;
border-left: 17px solid #fff;	
z-index: 0;
}

.arrow-steps .step:first-child:before {
border: none;
}

.arrow-steps .step:first-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
position: relative;
font-weight: 400;
}

.arrow-steps .step span:before {
opacity: 0;
content: "✔";
position: absolute;
top: -2px;
left: -20px;
}

.arrow-steps .step.done span:before {
opacity: 1;
-webkit-transition: opacity 0.3s ease 0.5s;
-moz-transition: opacity 0.3s ease 0.5s;
-ms-transition: opacity 0.3s ease 0.5s;
transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
color: #fff;
background-color: #8ece43;
}

.arrow-steps .step.current:after {
border-left: 17px solid #8ece43;	
}

i.colarrow {
  display: inline-block;
  font-size: 10px !important;
  font-weight: 700;
  line-height: 1;
  height: 14px;
  width: 14px;
  border-radius: 35%;
  margin: 0;
  padding: 2px;
  margin-top: -2px;
  margin-right: 7px;
  background: #ff9800;
  color: #ffffff;
  -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.collapsed i.colarrow {
  transform: rotate(-90deg);
}

.animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}